services:
  vllm:
    image: vllm/vllm-openai:latest
    container_name: vllm-server
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    command: >
      --model openai/gpt-oss-20b
      --dtype auto
      --max-model-len 32768
      --gpu-memory-utilization 0.9
      --enforce-eager
      --enable-auto-tool-choice
      --tool-call-parser openai
    ports:
      - "8001:8000"
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface
    environment:
      - HUGGING_FACE_HUB_TOKEN=${HUGGING_FACE_HUB_TOKEN}
    ipc: host

  searxng:
    image: searxng/searxng
    container_name: searxng
    ports:
      - "666:8080"
    volumes:
      - ./searxng:/etc/searxng:rw  # Mount your local config folder
    environment:
      - SEARXNG_BASE_URL=http://localhost:666/
      - SEARXNG_BOT_DETECTION_FORWARD_IP_HEADER=0 
      - SEARXNG_BOT_DETECTION=0 
    restart: always

